<%- include('./partials/headeradmin') %>
<div class="container containercarrusel">
      <h2>Subir Nuevo Curso</h2>

  <div class="carrusel-formulario">
   
  <div class="col-12 mb-2">
    <label class="form-label">Curso<span class="text-danger">*</span></label>
     <input type="text" name="titulo" id="titulo" class="form-control form-control-sm" required>
  </div>
<div class="col-12 mb-2">
  <label for="miTextarea" class="form-label">Describa sobre el Curso</label>
  <textarea class="form-control" id="descripcion" name="descripcion" rows="4" placeholder="Escribe tu mensaje aquí..."></textarea>
</div>
    <div class="col-12 mb-2">
        <label class="form-label">Imagen (Foto)</label>
        <input type="file" name="imagen" id="imagenFile1" accept="image/*" class="form-control form-control-sm" required>
  </div>
    <div class="col-12 mb-2">
        <label class="form-label">Imagen (Foto)</label>
        <input type="file" name="imagen" id="imagenFile2" accept="image/*" class="form-control form-control-sm">
  </div>
  <div class="col-12 mb-2">
        <label class="form-label">Imagen (Foto)</label>
        <input type="file" name="imagen" id="imagenFile3" accept="image/*" class="form-control form-control-sm">
  </div>
  <button class="carrusel-btn" id="btnSubirimagen">Registrar Curso</button>
  </div>


  <h3>Listado de Cursos Registrados</h3>
  <table class="carrusel-tabla ">
  <thead>
    <tr>
      <th>#</th>
      <th>Curso</th>
      <th>Descripcion</th>
      <th>Imagen</th>  
      <th>Imagen</th>  
      <th>Imagen</th>     
     
      <th>Acciones</th> <!-- Nueva columna -->
    </tr>
  </thead>
<tbody id="cursodatos">
  <% carrusel.forEach((img, i) => { %>
    <tr>
      <td><%= i + 1 %></td>
      <td><%= img.titulo %></td>
      <td><%= img.descripcion %></td>
      <td><img src="<%= img.url1 %>" style="height:70px"></td>
      <td><img src="<%= img.url2 %>" style="height:70px"></td>
      <td><img src="<%= img.url3 %>" style="height:70px"></td>
   
      <td>      
        <div id="btneventos">
          <button id="modificarfila" class="carrusel-btn-modificar" data-id="<%= img.id %>">  Modificar </button>          
          <button id="eliminarfila"  class="carrusel-btn-eliminar"  data-id="<%= img.id %>">  Eliminar  </button>
          
        </div>
      </td>
    </tr>
  <% }) %>
</tbody>
</table>
</div>
<script src="/js/cursoadmin.js"></script>
<%- include('./partials/footer') %>