<%- include('./partials/header') %>
  <!-- GALERÍA -->
 
  <section  id="sectiongaleria">
   <div class="imgcntrcarousel">   
        <% if (carouselImages && carouselImages.length > 0) { %>
                <% carouselImages.forEach(function(imagePath) { %>
                    <div class="imgcntrbox">
                        <img class="imgcntimg" src="<%= imagePath %>" alt="Imagen de la galería">
                    </div>
                <% }); %>
            <% } else { %>
                <p>No hay imágenes disponibles para la galería.</p>
            <% } %>
  </div>

  </section>
    <!-- Próximos eventos -->
    <section id="eventos">
      <div class="container">
        <h2 class="section-title">Próximos eventos en nuestra unidad educativa</h2>
        <div class="row g-4 ">
          <% if (imageGridItems.length > 0) { %>
            <% imageGridItems.forEach(item => { %>
              <div class="col-md-4 cardevento">
                <div class="card h-100 shadow-sm">
                  <div class="cardimagen">   
                                 
                    <img id="imageneventos" src="<%= item.imagePath %>" alt="<%= item.title %>" class="img-fluid" />
                  </div>
                  <div class="card-body">
                    <h5 class="card-title"><%= item.titulo %></h5>                    
                    <p class="card-text description"><%= item.description %></p>
                    <button class="leer-mas-btn">Leer más</button>
                  </div>
                </div>
              </div>
            <% }) %>
          <% } else { %>
            <p>No hay eventos disponibles.</p>
          <% } %>
        </div>
      </div>
    </section>

  <!-- Noticias recientes -->
  <section id="noticias" >
    <div class="container">
      <h2 class="section-title">Noticias recientes de nuestra unidad educativa</h2>
         <div class="row g-4 ">
          <% if (imageGridItemsNoticia.length > 0) { %>
            <% imageGridItemsNoticia.forEach(item => { %>
              <div class="col-md-4 cardevento">
                <div class="card h-100 shadow-sm">
                  <div class="cardimagen">     
                                  
                    <img id="imageneventos" src="<%= item.imagePath %>" alt="<%= item.title %>" class="img-fluid" />
                  </div>
                  <div class="card-body">
                    <h5 class="card-title"><%= item.titulo %></h5>                    
                    <p class="card-text description"><%= item.description %></p>
                    <button class="leer-mas-btn">Leer más</button>
                  </div>
                </div>
              </div>
            <% }) %>
          <% } else { %>
            <p>No hay eventos disponibles.</p>
          <% } %>
        </div>
    </div>
  </section>

  <!-- Modal Leer Más -->
<div class="modal fade" id="leerMasModal" tabindex="-1" aria-labelledby="leerMasModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="leerMasModalLabel">Título</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body text-center">
        <img id="leerMasImage"   src=""  alt="Imagen ampliada"  class="img-fluid mb-3 rounded shadow"  style="max-height: 300px; object-fit: cover;"     />
        <p id="leerMasContent" class="text-justify"></p>
      </div>
    </div>
  </div>
</div>

<%- include('./partials/footer') %>
 
 
<script src="/js/home.js"></script>

