<%- include('./partials/headeradmin') %>
<div class="container containercarrusel">
      <h2>Subir imagen al Carrusel</h2>

  <div class="carrusel-formulario">
  <input class="carrusel-input" type="text" name="nombreImagen" id="nombreImagen" placeholder="Nombre de la imagen" required>
  <input class="carrusel-file" type="file" name="imagen" id="imagenFile" accept="image/*" required>
  <button class="carrusel-btn" id="btnSubirimagen">Subir Imagen</button>
  </div>


  <h3>Listado de Imágenes en el Carrusel</h3>
  <table class="carrusel-tabla ">
  <thead>
    <tr>
      <th>#</th>
      <th>Nombre</th>
      <th>Imagen</th>
      <th>Fecha</th>
      
      <th>Acciones</th> <!-- Nueva columna -->
    </tr>
  </thead>
  <tbody id="carruceldatos">
    <% carrusel.forEach((img, i) => { %>
      <tr>
        <td><%= i + 1 %></td>
        <td><%= img.nombre %></td>
        <td><img src="<%= img.url %>" style="height:70px"></td>
        <td><%= new Date(img.fecha).toLocaleDateString() %></td>
      
        <td>    
          <button 
          id="eliminarfila"
                  class="carrusel-btn-eliminar"
                  data-id="<%= img.id %>">
            Eliminar
          </button>
</td>
      </tr>
    <% }) %>
  </tbody>
</table>

</div>
<script src="/js/homeadmin.js"></script>
<%- include('./partials/footer') %>