<%- include('./partials/header') %>
<div class="container containermisionvision">
    <section class="historia ">
        <h2>Historia</h2>
        <p class="sectioncolor">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit incidunt culpa libero deserunt perferendis tenetur ad ipsa recusandae ducimus dignissimos nobis autem soluta officia suscipit labore atque, ab alias harum.</p>
    </section>
     <section class="mision visionmision ">
        <h2>Mision</h2>
        <p class="sectioncolor">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit incidunt culpa libero deserunt perferendis tenetur ad ipsa recusandae ducimus dignissimos nobis autem soluta officia suscipit labore atque, ab alias harum.</p>
    </section>
    <section class="vision visionmision ">    
        <h2>Vision</h2>
        <p class="sectioncolor">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit incidunt culpa libero deserunt perferendis tenetur ad ipsa recusandae ducimus dignissimos nobis autem soluta officia suscipit labore atque, ab alias harum.</p>
    </section>   
</div>
<section class="" id="sectiongaleria">
    <div class="container ">
      <h2 class="">PLANTEL DE DOCENTES</h2>     
       <div class="image-grid" >
        <% if (imageGridItems && imageGridItems.length > 0) { %>
            <% imageGridItems.forEach(function(item) { %>
                <div class="grid-item" >
                    <img  src="<%= item.imagePath %>" alt="<%= item.title %>">
                    <h3><%= item.title %></h3>
                    <p><%= item.description %></p>
                </div>
            <% }); %>
        <% } else { %>
            <p class="no-images-message">No hay elementos disponibles para mostrar en la galería.</p>
        <% } %>
        </div>
    </div>
</section>  


<%- include('./partials/footer') %>