<%- include('./partials/headeradmin') %>
<div class="container containercarrusel">
      <h2>Subir Nueva Promocion</h2>

    <div class="carrusel-formulario">
      <div class="col-12 mb-2">
        <label class="form-label">Promocion <span class="text-danger">*</span></label>
        <input type="text" name="titulo" id="titulo" class="form-control form-control-sm" required>
      </div> 
      <div class="col-12 mb-2">
        <label for="miTextarea" class="form-label">Descripcion</label>
        <textarea class="form-control" id="descripcion" name="descripcion" rows="4" placeholder="Escribe tu mensaje aquí..."></textarea>
      </div>
      <div   class="col-12 mb-2">
        <label class="form-label">Nombre de la Foto <span class="text-danger">*</span></label>
        <input type="text" name="nombreImagen" id="nombreImagen" class="form-control form-control-sm" required>
      </div>
      <div class="col-12 mb-2">
        <label class="form-label">Imagen (Foto)</label>
        <input type="file" name="imagenFile" id="imagenFile" accept="image/*" class="form-control form-control-sm">
      </div>
      <button class="carrusel-btn" id="btnSubirimagen">Registrar Promocion</button>
    </div>

  <h3>Listado de Eventos Registrados</h3>
  <table class="carrusel-tabla ">
  <thead>
    <tr>
      <th>#</th>
      <th>Promocion</th>
      <th>Descripcion</th>
      <th>Imagen</th>     
      <th>Acciones</th> <!-- Nueva columna -->
    </tr>
  </thead>
<tbody id="promociondatos">
  <% carrusel.forEach((img, i) => { %>
    <tr>
      <td><%= i + 1 %></td>
      <td><%= img.titulo %></td>
      <td><%= img.descripcion %></td>
      <td><img src="<%= img.url %>" style="height:70px"></td>
      <td>
          <button 
          id="eliminarfila"
                  class="carrusel-btn-eliminar"
                  data-id="<%= img.id %>">
            Eliminar
          </button>
      </td>
    </tr>
  <% }) %>
</tbody>

</table>

</div>
<script src="/js/promocionadmin.js"></script>
<%- include('./partials/footer') %>